@import url('https://fonts.cdnfonts.com/css/monster-chiller');

* {
    box-sizing: content-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

header{
    height: 50vh;
    background: url('./hero.jpg'), rgb(236,29,37);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

h1{
    text-align: center;
    color: rgb(247, 233, 234);
    margin: 0;
    font-family: 'Monster Chiller', sans-serif;
    letter-spacing: 4px;
    font-size: 3rem;
    padding: 0.5rem 0;
}

form{
    max-width: 1300px;
}

#container, #results{
    max-width: 1300px;
    padding: 10px 20px;
}

#search-input::placeholder{
    color: #212529;
    margin: 0;
}

.comic-card {
    border: none;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    background-color: rgb(243, 243, 241);
    box-shadow: 6px 8px 5px 0px rgba(117,109,117,1);
}

.comic-card:hover{
    cursor: pointer;
}

.img-container {
    height: 450px;
    width: 300px;
}

.img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.card-title, .card-text {
    margin: 0;
}

.card-title{
    font-size: 1.2rem;
}

#character:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: transform 0.5s ease-in-out;
}

a {
   text-decoration: none; 
}

.footer {
    color: rgb(236,29,37);
    font-size: 14px;
}