@import url('https://fonts.cdnfonts.com/css/monster-chiller');

* {
    box-sizing: content-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;  
    overflow: hidden;
}

.loader {
    position: fixed;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Para que esté encima de todo */
}

.d-none {
    display: none;
}


header{
    height: 60vh;
    background: url('./hero.jpg'), rgb(236, 29, 36);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

h1{
    text-align: center;
    color: rgb(247, 233, 234);
    margin: 0;
    font-family: 'Monster Chiller', sans-serif;
    letter-spacing: 4px;
    font-size: 3rem;
    padding: 0.5rem 0;
}

#container, #results{
    width: 80%;
    padding: 10px 20px;
}

#search-input::placeholder{
    color: #212529;
    margin: 0;
}

.characters-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#characters-container{
    justify-content: center;
}

.comic-card {
    border: none;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    background-color: rgb(243, 243, 241);
    box-shadow: 6px 8px 5px 0px rgba(117,109,117,1);
}

.comic-card:hover, character-card:hover{
    cursor: pointer;
}

.character-card{
    width: 180px;
    border: 0;
}

.character{
    width: 180px;
    height: 210px;
}

.img-container {
    height: 280px;
    width: 240px;
}

.img-container img, .character img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    object-position: center;
}

.img-character{
    height: auto;
    width: 360px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.card-title, .card-text {
    margin: 0;
}

.card-title{
    font-size: 1rem;
}

#character:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: transform 0.5s ease-in-out;
}

.character-img{
    max-width: 350px;
}

a {
   text-decoration: none; 
}

.footer {
    font-size: 14px;
}

.footer a{
    color: rgb(236,29,37);
}

.back-to-top{
    position: fixed;
    right: 2vw;
    bottom: 1vw;
    z-index: 1;

}

svg{
    color: rgb(236,29,37);
}

.loading {
    opacity: 0.5;
    pointer-events: none; 
}


@media (max-width: 545px) {

    .input{
        width: 90%;
    }

    .character-info, form{
        flex-direction: column;
        align-items: center;
    }

    .comic, .character, .info, .img-character{
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
 
    #comic-details{
        align-items: center;
    }
}

@media (max-width: 768px) {
    header{
        height: 40vh;
        background-position: center;
        background-size: 90%;
    }

    .container {
        justify-content: center;
        margin: 0;
    }

    #container{
        max-width: 700px;
        justify-content: center;
    }

    #characters-section, #results, .character-info{
        width: 90%;
    }

    .character-container{
        align-items: center;
    }
}

@media (max-width: 990px){

    #container, .container{
        justify-content: space-around;
    }

}