@import url('https://fonts.cdnfonts.com/css/monster-chiller');

* {
    box-sizing: content-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

header{
    height: 60vh;
    background: url('./hero.jpg'), rgb(236,29,37);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

h1{
    text-align: center;
    color: rgb(236,29,37);
    outline-color: aliceblue;
    font-family: 'Monster Chiller', sans-serif;
    font-size: 8rem;
    padding: 2rem 0;
}

main{
    padding: 20px 0;
    background-color: rgb(40, 39, 39);
}

.comic-card {
    height: 600px;
    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-container {
    flex-grow: 1;
    height: 65%;
}

.img-container img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.card-body {
    flex-grow: 0;
    height: 35%;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title, .card-text {
    margin: 0;
}

a {
   text-decoration: none; 
}

.footer {
    color: rgb(236,29,37);
    font-size: 14px;
}